Db_Connection=
GOOGLE_ID=
GOOGLE_SECRET=
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET="This is an example"

# HOST
NEXT_PUBLIC_HOST_API=https://api-dev-minimal-v510.vercel.app

# ASSETS
NEXT_PUBLIC_ASSETS_API=https://api-dev-minimal-v510.vercel.app



